<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">


    <section class="top-banner">
      <div class="container">
        <h1 class="heading">Weather App</h1>
        <form action="/" method="post">
          <input type="text" name="city" placeholder="Search for a city" autofocus required>
          <button type="submit" class="button">SUBMIT</button>
          <span class="msg"></span>
        </form>
      </div>
    </section>
    <div class="result">
      <% if(weather !== null){ %>
      <p><%= weather %></p>
      <% } %>

      <% if(error !== null){ %>
      <p><%= error %></p>
      <% } %>
    </div>
  </div>
</body>

</html>
